body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  height: 80px;
  width: 80px;
}

.page-item, .page-link{
  color: #834e2a !important;
}
.active>.page-link, .page-link.active{
  background-color: #b99c7d !important;
  border: none;
}